# IntelliJ
.idea

# the petabyte of node_modules/node_modules/node_modules/node_modules/node_modules/node_modules/node_modules
node_modules

# stuff
*.nogit.*
.travisci/private_rsa_keys.tar.gz
weeb.services.db
_migration.txt
keys.json

# i'll maybe set it up later
.travis.yml
.travisci