@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,700,400i,500i,700i');
* { box-sizing: border-box; }

html, body {
  display: block;
  background-color: #313131;
  color: #eee;
  margin: 0;
  font-family: 'Google Sans', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 1.15em;
}

body {
  padding: 3% 10% 0;
}

button {
  width: auto;
  outline: 0;
  color: #fff;
  transition: .2s ease;
  align-items: center;
  background: none;
  background-color: #f7630c;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  padding: 2px 16px;
  position: relative;
  user-select: none;
  cursor: pointer;
  font-family: inherit;
  height: 38px;
  min-height: 38px;
  min-width: 96px;
}

button:hover {
  background-color: #b74400;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-right: 15px;
}

.flash {
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flash[data-state="success"] {
  background-color: #43b581;
}

.flash[data-state="error"] {
  background-color: #f04747;
}

#select, #new, #delet {
  margin-bottom: 35px;
}

.field {
  margin-bottom: 25px;
}

.field label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.field input {
  margin-top: 5px;
  font-family: inherit;
  padding: 0 10px;
  color: #fff;
  height: 32px;
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.3);
  width: 100%;
  border-radius: 3px;
  transition: border-color .2s;
  font-size: 16px;
  outline: 0;
}

.field input:focus {
  border-color: #f7630c;
}

.recaptcha {
  margin-bottom: 25px;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
}

.checkboxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 15px;
}

.checkbox .input {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
  margin-right: 10px;
  border-radius: 3px;
  border: 3px solid #5d5d5d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .2s;
  cursor: pointer;
}

.checkbox .input:before {
  content: "";
  opacity: 0;
  background-color: #f7630c;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  transition: opacity .2s;
}

.checkbox .input:after {
  content: "";
  opacity: 0;
  display: block;
  width: 12px;
  height: 6px;
  margin-top: -3px;
  transform: rotate(-45deg);
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transition: opacity .2s;
}

input[type="checkbox"]:checked + .input {
  border-color: #f7630c;
}

input[type="checkbox"]:checked + .input:before, 
input[type="checkbox"]:checked + .input:after {
  opacity: 1;
}
