<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emma is cute</title>
  <meta property="og:title" content="Emma is cute">
  <meta property="og:site_name" content="weeb.services">
  <meta property="og:description" content="Emma is unarguably the cutest being on this planet">
  <meta name="description" content="Emma is unarguably the cutest being on this planet">
  <meta property="og:image" content="/assets/hibiscus.png">
  <link rel="icon" type="image/x-icon" href="/assets/hibiscus.png">
</head>
<body>
  <h1 style="font-size: 69px">yes</h1>
</body>
</html>