<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{server}</title>
  <meta name="twitter:image:src" content="{image}" />
  <meta name="twitter:site" content="@Bowser65" />
  <meta name="twitter:card" content="{card}" />
  <meta name="twitter:title" content="{server}" />
  <meta name="twitter:description" content="{online} online • {members} members" />
</head>

<body>
</body>

</html>