$dark-highlight: #181818;
$dark-primary: #212121;
$dark-secondary: #303030;

$light-highlight: #d9d9d9;
$light-primary: #ececec;
$light-secondary: #f5f5f5;

$primary: #f49898;
$blue: #257dd4;
$green: #2ecc71;
$orange: #f29a15;
$red: #e74c3c;
$blurple: #7289da;

$green-dark: #168829;
$orange-dark: #b46000;
$red-dark: #822121;
$primary-dark: #bb6570;
$blurple-dark: #4e5d94;
